---
layout: page
title: 404
show_title: false
---
  <style>
    
    .w {
      background-color: #66ccff;
      color: #FFFFFF;
      padding: 60px;
      border-radius: 18px;
      display: inline-block;

</style>
<div class="layout--404">

  <div class="sign">
    <div class="w ">
    <span style="font-size: 100px; display: block; margin-bottom: 20px;">:(</span>
    <span style="font-size: 28px; display: block;">MicroGan提示您</span>
    <span style="display: block;">网页千万条，准确第一条</span>
    <span style="display: block;">网址不准确，电脑两行泪</span>
    </div> 
  </div>
</div>

{{ content }}
